.reviews-body{
    padding: 12% 8%;
    background-color: aliceblue;
    color: black;
}

.reviews-body h1{
    font-size: 38px;
    color: deepskyblue;
    margin-bottom: 20px;
}

.reviews-body p{
    font-size: 20px;
    margin-bottom: 30px;
}

.review{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

.review p{
    font-size: 18px;
    color: black;
    margin: 0;
}

.review strong{
    color: deepskyblue;
}

.review a{
    color: deepskyblue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
}

.review a:hover{
    color: aliceblue;
    border-bottom: 2px solid deepskyblue;
    text-shadow: 0 0 10px deepskyblue, 0 0 20px deepskyblue;
}

